extends layout

block content
  h1= title
  p Bookworms not only love to read, but they love to read books about books. Get lost in a book about your favorite subject!...
  p Search for author, title, subject... anything about books. Provided by: Other Resources: Ohio Web Library Explore Ohio Find-A-Library.